mollie/SRA_Materials/Aim_2_SRA_Stuff/Fasta_Files/
mollie/SRA_Materials/Aim_2_SRA_Stuff/GFF_Annotations/
mollie/SRA_Materials/Aim_3_SRA_Stuff/Fasta_Files/
mollie/SRA_Materials/Aim_3_SRA_Stuff/GFF_Annotations/
*.swp
.DS_Store
*.zip
